{% extends 'base.html.twig' %}

{% block head %}
<title>Askaway | Admin</title>
<meta name="robots" content="noindex">
{% endblock %}

{% block body %}
<section>
    <form class="uk-grid-small uk-padding" method="post" action="{{ path('app_category_create') }}" enctype="multipart/form-data" uk-grid>
        {{ form_start(form) }}
            <div class="uk-width-1-1">
                {% if form_errors(form.name) %}
                    <div class="formError">{{form_errors(form.name)}}</div>
                {% endif %}
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: home"></span>
                        {{ form_widget(form.name) }}
                    </div>
                </div>
            </div>
            <div class="uk-panel uk-light uk-margin-small-top">
                <p>* : champs requis</p>
            </div>
            <div class="uk-width-1-1">
                <button type="submit" class="uk-button uk-width-1-1 uk-margin-small-bottom">Ajouter ma categorie</button>
            </div>
        {{ form_end(form) }}
    </form>
</section>
{% endblock %}