{% extends 'base.html.twig' %}

{% block head %}
    <title>{{article.title|slice(0, 60)}} {{article.keywords}} | Askaway</title>
    <link rel="canonical" href="https://askaway.fr/article/{{article.id}}/{{article.title|slugify}}" />
    <meta name="robots" content="index, follow">
    <meta name="date" content="{{article.createdAt|date('Y-m-d')}}" scheme="YYYY-MM-DD">
    <meta name="description" content="{{article.introduction|slice(0, 150)}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{article.title}}">
    <meta property="og:description" content="{{article.introduction}}">
    <meta property="og:image" content="{{article.image}}">
    <meta property="og:url" content="https://askaway.fr/article/{{article.id}}/{{article.title|slugify}}">
    <meta property="og:site_name" content="Askaway">
    <meta property="article:published_time" content="{{article.updatedAt|date('Y-m-d')}}">
    <meta property="article:author" content="Askaway Owner">
    <meta property="article:section" content="{{article.category}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{article.title}}">
    <meta name="twitter:description" content="{{article.introduction}}">
    <meta name="twitter:image" content="{{article.image}}">
    <meta name="twitter:url" content="https://askaway.fr/article/{{article.id}}/{{article.title|slugify}}">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://askaway.fr/{{article.id}}/{{article.title|slugify}}"
      },
      "headline": "{{article.title}}",
      "author": {
        "@type": "Person",
        "name": "Askaway Owner"
      },
      "datePublished": "{{article.createdAt|date('Y-m-d')}}",
      "dateModified": "{{article.updatedAt|date('Y-m-d')}}",
      "image": "{{article.image}}",
      "description": "{{article.introduction}}",
      "keywords": "{{article.keywords}}",
      "articleBody": "{{article.text}}"
      "publisher": {
        "@type": "Organization",
        "name": "Askaway",
        "logo": {
          "@type": "ImageObject",
          "url": "{{article.image}}"
        }
      }
    }
    </script>
{% endblock %}

{% block body %}
<nav aria-label="Breadcrumb">
    <ul class="uk-breadcrumb">
        <li><a href="{{path('home')}}">Home</a></li>
        <li><a href="{{path('app_categories')}}">{{article.category}}</a></li>
        <li><span aria-current="page">{{article.title}}</span></li>
    </ul>
</nav>
<div class="uk-section-default uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top uk-padding">
    <div class="uk-section uk-height-large uk-light uk-background-cover" style="background-image: url({{ asset('/upload/'~ article.image)}})">
    </div>
</div>
{{article.text|raw}}
<p>Date de publication : {{article.updatedAt|date('Y-m-d')}}</p>
{% endblock %}