<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WYNN1WSPMV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WYNN1WSPMV');
</script>
        <meta charset="UTF-8">
        {% block head %}
        <title>Askaway</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('image/favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.18.0/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.0/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.0/dist/js/uikit-icons.min.js"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <main>
            <nav class="uk-navbar-container">
                <div class="uk-container">
                    <div uk-navbar="mode: click">          
                        <div class="uk-navbar-left">
                            <ul class="uk-navbar-nav">
                                <li class="uk-active"><a href="{{path('home')}}">ASKAWAY</a></li>
                                <li><a href="{{path('app_articles')}}">Articles</a></li>
                                <li><a href="{{path('about')}}">A propos</a></li>
                                {% if app.user %}
                                <li><a href="{{path('app_admin')}}">Admin</a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="uk-container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer class="uk-margin-top">
            <div class="uk-text-center">
                <p>©2024 Askaway | Tous droits réservés</p>
            </div>
        </footer>
        
        {% block js %}{% endblock %}
    </body>
</html>
