{% extends 'base.html.twig' %}

{% block body %}

<section class="uk-section">
    <h2>Derniers Articles</h2>
    
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        {% for article in articles %}
        <a href="{{path('app_article', {id: article.id, slug: article.title|slugify})}}">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{ asset('/upload/'~ article.image)}}" width="1800" height="1200" alt="{{article.title}}" loading="lazy">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ article.title|length > 60 ? article.title|slice(0, 60) ~ '...' : article.title }}</h3>
                        <p>{{ article.introduction|length > 100 ? article.title|slice(0, 100) ~ '...' : article.title }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}
